page-feedback {
    h1{
        font-size: 20px;
    }

    .ELO
    {
        position: relative;
        text-align: center;
        background-color: #ffffff;
    }

    h1{
        color: #1059f7;
    }

    button{
       
        border-top-right-radius: 20px !important;
        border-top-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
    }
    

}
